In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('spam.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
#grouping categories
data.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
#converting spam and ham to 0 and 1
data['spam']= data['Category'].apply( lambda x: 1 if x== 'spam' else 0)
data.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test= train_test_split(data.Message, data.spam, train_size=0.75, test_size=0.25)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
v= CountVectorizer()
x_train_count= v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [11]:
from sklearn.naive_bayes import MultinomialNB
model= MultinomialNB()
model.fit(x_train_count, y_train)

MultinomialNB()

In [21]:
emails= [
    'Hurry, you will miss the offer',
    'Hurry upto 80% discount on latest collections'
]
email_count= v.transform(emails)
model.predict(email_count)

array([0, 1], dtype=int64)

In [24]:
x_test.count= v.transform(x_test)
model.score(x_test.count, y_test)

0.9885139985642498

## Same code using api and pipeline

In [34]:
from sklearn.pipeline import Pipeline
clf= Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())])

In [35]:
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [36]:
clf.score(x_test, y_test)

0.9885139985642498

In [37]:
clf.predict(emails)

array([0, 1], dtype=int64)