In [1]:
import pandas as pd
data= pd.read_csv('winequality.csv')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [2]:
data.groupby('quality').describe()

        fixed acidity                                                     \
                count      mean       std  min   25%   50%     75%   max
quality
3                10.0  8.360000  1.770875  6.7  7.15  7.50   9.875  11.6
4                53.0  7.779245  1.626624  4.6  6.80  7.50   8.400  12.5
5               681.0  8.167254  1.563988  5.0  7.10  7.80   8.900  15.9
6               638.0  8.347179  1.797849  4.7  7.00  7.90   9.400  14.3
7               199.0  8.872362  1.992483  4.9  7.40  8.80  10.100  15.6
8                18.0  8.566667  2.119656  5.0  7.25  8.25  10.225  12.6

        volatile acidity            ... sulphates       alcohol             \
                   count      mean  ...       75%   max   count       mean
quality                             ...
3                   10.0  0.884500  ...     0.615  0.86    10.0   9.955000
4                   53.0  0.693962  ...     0.600  2.00    53.0  10.265094
5                  681.0  0.577041  ...     0.660  1.98   681.0   9.899706
6                  638.0  0.497484  ...     0.750  1.95   638.0  10.629519
7                  199.0  0.403920  ...     0.830  1.36   199.0  11.465913
8                   18.0  0.423333  ...     0.820  1.10    18.0  12.094444


              std  min     25%     50%     75%   max
quality
3        0.818009  8.4   9.725   9.925  10.575  11.0
4        0.934776  9.0   9.600  10.000  11.000  13.1
5        0.736521  8.5   9.400   9.700  10.200  14.9
6        1.049639  8.4   9.800  10.500  11.300  14.0
7        0.961933  9.2  10.800  11.500  12.100  14.0
8        1.224011  9.8  11.325  12.150  12.875  14.0

[6 rows x 88 columns]

In [3]:
target= data.quality

In [4]:
data.drop(['quality'], axis='columns', inplace=True)
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [5]:
data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test= train_test_split(data, target, train_size=0.75, test_size=0.25)

### Using Gaussian

In [8]:
from sklearn.naive_bayes import GaussianNB

In [9]:
model= GaussianNB()

In [10]:
model.fit(data, target)

GaussianNB()

In [11]:
model.predict([[7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4]])

array([5], dtype=int64)

In [18]:
model.predict([[11.2, 0.28, 0.56, 1.9, 0.075, 17.0, 60.0, 0.9980, 3.16, 0.58, 9.8]])

array([6], dtype=int64)

In [19]:
model.score(x_test, y_test)

0.58

### Using Multinomial

In [20]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
model1= MultinomialNB()

In [22]:
model1.fit(data, target)

MultinomialNB()

In [23]:
model1.score(x_test, y_test)

0.4675

In [24]:
model.predict([[11.2, 0.28, 0.56, 1.9, 0.075, 17.0, 60.0, 0.9980, 3.16, 0.58, 9.8]])

array([6], dtype=int64)